@import url('https://fonts.googleapis.com/css2?family=Hanuman&family=Lato&display=swap');

*{
    font-family: 'Hanuman', 'Lato', serif;
}

.bg-blue{
    background-color: #0c54a4;
}

.navbar-dark.bg-blue .navbar-nav .nav-link{
    color: #FFF;
}

.pagination{
    /* float: right; */
    font-size: 16px;
}
.form-control::placeholder {
    font-size: 13px;
}

.notice {
    padding: 15px;
    background-color: #ffffff;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-sm {
    padding: 10px;
    font-size: 80%;
}
.notice-lg {
    padding: 35px;
    font-size: large;
}
.notice.success {
    border-color: #80D651;
}
.notice.success>strong {
    color: #80D651;
}
.notice.info {
    border-color: #45ABCD;
}
.notice.info>strong {
    color: #45ABCD;
}
.notice.warning {
    border-color: #FEAF20;
}
.notice.warning>strong {
    color: #FEAF20;
}
.notice.danger {
    border-color: #d73814;
}
.notice.danger>strong {
    color: #d73814;
}
.select2-selection{
    height: calc(1.6em + 0.75rem + 2px) !important;
    color: #495057;
    vertical-align: middle;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
span.select2.select2-container {
    width: 100% !important;
}
.select2-container{
}

@font-face {
    font-family: KhmerOSSiemreap;
    src: url('../khmerfont/KhmerOSSiemreap.ttf');
    }
@font-face{
    font-family: KhmerOSmuollight;
    src: url('../khmerfont/KhmerOSmuollight.ttf');
}
